<h1>Login</h1>


<% if flash["notice"] %>
  <%= flash["notice"] %>
<% end %><br>

<%= form_for "/login" do %>
  <%= label :username, "Username" %>
  <%= text_field_tag :username %>
  <%= label :password, "Password" %>
  <%= text_field_tag :password %>
  <%= submit_tag "Login "%>
<% end %>
