<!DOCTYPE html>
<html>
  <head>
    <title>PoolApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <h2> USING APPLICATION.html LAYOUT </h2>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br><%= link_to "Logout", logout_path %>
  </body>
</html>
